{% extends 'base.html' %} 
{% block title %} Home {% endblock title %} 
{% block content %}
<main class="MainApplication-module--Main--tiIu0">
  <div class="Pricing-module--Page--Ra20B">
    <div class="Pricing-module--PageContent--IPTo-">
      <h1 class="Promo-module--Title--JoUIL">Let us enhance your images</h1>
      <div class="Pricing-module--Pricing----wdU">
        <div
          class="Pricing-module--PricingToggler--a0yLP RadioGroup-module--Group--VN2hp"
        >
          <a href="" class="RadioGroup-module--Label--+sny3 RadioGroup-module--Active--WgLOy Pricing-module--TogglerButtonActive--m-YmC RadioGroup-module--medium--xGKmr Pricing-module--TogglerButton--l1Q3C" style="cursor: pointer;">
            <label style="cursor: pointer;"
            ><div>
              <input
                class="RadioGroup-module--Input--XDP7y"
                name="pricingVariant"
                value="individual"
              />
            </div>
            Monthly</label
          >
          </a>
          <!-- <a href="{{ yr_url }}" class="{% if active == 'year' %} RadioGroup-module--Label--+sny3 RadioGroup-module--Active--WgLOy Pricing-module--TogglerButtonActive--m-YmC RadioGroup-module--medium--xGKmr Pricing-module--TogglerButton--l1Q3C {% else %} RadioGroup-module--Label--+sny3 RadioGroup-module--Regular--AtWz9 RadioGroup-module--medium--xGKmr Pricing-module--TogglerButton--l1Q3C {% endif %}" style="cursor: pointer;">
            <label style="cursor: pointer;"><div>
              <input
                class="RadioGroup-module--Input--XDP7y"
                name="pricingVariant"
                value="business"
              />
            </div>
            Yearly
            </label>
          </a> -->
          <!-- <label
              class="RadioGroup-module--Label--+sny3 RadioGroup-module--Regular--AtWz9 RadioGroup-module--medium--xGKmr Pricing-module--TogglerButton--l1Q3C"
              ><div>
                <input
                  type="radio"
                  class="RadioGroup-module--Input--XDP7y"
                  name="pricingVariant"
                  value="bundles"
                />
              </div>
              Pay as you go</label
            > -->
        </div>
        <section
          class="Pricing-module--Section--Wttvk Pricing-module--CardsWrapper--erwFJ"
        >
          <div class="Pricing-module--SectionContent--WNl8i">
            <div class="Pricing-module--PricingVariants--BLlsd">
              <!-- <div
                  class="Pricing-module--PriceCard--TEO97 PriceCard-module--Card--jI5Zk"
                >
                  <div class="PriceCard-module--Description--Ae7-h">
                    <div
                      class="PriceCard-module--DescriptionContent--0drnp"
                    >
                      <div>
                        <div class="PriceCard-module--Title--1VF9m">
                          10
                        </div>
                        <div class="PriceCard-module--Subtitle--cIGU8">
                          <span
                            ><span
                              class="PriceCard-module--PopoverTriggerContent--W2oG2"
                              >Free credits<svg
                                class="PriceCard-module--PopoverTriggerIcon--xAjKX"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <path
                                  d="M7.9987 14.6663C11.6806 14.6663 14.6654 11.6816 14.6654 7.99967C14.6654 4.31778 11.6806 1.33301 7.9987 1.33301C4.3168 1.33301 1.33203 4.31778 1.33203 7.99967C1.33203 11.6816 4.3168 14.6663 7.9987 14.6663Z"
                                  stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                ></path>
                                <path
                                  d="M6.05859 6.00038C6.21533 5.55483 6.5247 5.17912 6.9319 4.9398C7.3391 4.70049 7.81786 4.61301 8.28338 4.69285C8.7489 4.7727 9.17114 5.01473 9.47531 5.37607C9.77949 5.7374 9.94596 6.19473 9.94526 6.66705C9.94526 8.00038 7.94526 8.66705 7.94526 8.66705"
                                  stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                ></path>
                                <path
                                  d="M8 11.333H8.00667"
                                  stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                ></path></svg></span
                          ></span>
                        </div>
                        <div
                          class="PriceCard-module--PriceComment--Z3ZM0"
                        >
                          get upon signing up
                        </div>
                      </div>
                      <div>
                        <div
                          class="PriceCard-module--PriceWrapper--IV2yk"
                        >
                          <span class="PriceCard-module--Price--QGYLI"
                            >Free</span
                          >
                        </div>
                        <div class="PriceCard-module--Comment--Fj0Dy">
                          No credit card needed
                        </div>
                        <button
                          class="Button-module--Button--iWqHF Button-module--primary--Xt+ZK Button-module--large--NGxL6 Button-module--primary_light--RekQb PriceCard-module--ButtonSubmit--u2G56 Button-module--Block--jR88O"
                        >
                          <div
                            class="Button-module--ButtonContent--YYh9w"
                          >
                            Try free images
                          </div>
                        </button>
                      </div>
                    </div>
                    <button
                      class="Button-module--Button--iWqHF Button-module--ghost--tqlHF PriceCard-module--FeaturesToggler--E42d6"
                    >
                      <div class="Button-module--ButtonContent--YYh9w">
                        <svg
                          class="PriceCard-module--FeaturesTogglerIcon--cQkHi"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                        >
                          <path d="M0 0h24v24H0V0z" fill="none"></path>
                          <path
                            d="M11.29 8.71L6.7 13.3c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 10.83l3.88 3.88c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L12.7 8.71c-.38-.39-1.02-.39-1.41 0z"
                          ></path></svg
                        >See features
                      </div>
                    </button>
                  </div>
                  <div class="PriceCard-module--Features--Dsbrk">
                    <ul class="Pricing-module--PriceCardFeatures--nM0LJ">
                      <li class="Pricing-module--PriceCardFeature--3wv-9">
                        Upscale up to 8 megapixels
                      </li>
                      <li class="Pricing-module--PriceCardFeature--3wv-9">
                        Unlimited storage for 6 months
                      </li>
                      <li class="Pricing-module--PriceCardFeature--3wv-9">
                        Email support
                      </li>
                      <li class="Pricing-module--PriceCardFeature--3wv-9">
                        Upgrade anytime
                      </li>
                      <li class="Pricing-module--PriceCardFeature--3wv-9">
                        Watermark (removed for paid users)
                      </li>
                    </ul>
                  </div>
                </div> -->
              {% for price_obj in object_list %}
                <div
                  class="Pricing-module--PriceCard--TEO97 PriceCard-module--Card--jI5Zk"
                >
                  <div class="PriceCard-module--Description--Ae7-h">
                    <div class="PriceCard-module--DescriptionContent--0drnp">
                      <div>
                        <div class="PriceCard-module--Title--1VF9m">{{ price_obj.display_sub_name }}</div>
                        <div class="PriceCard-module--Subtitle--cIGU8">
                          <span
                            ><span
                              class="PriceCard-module--PopoverTriggerContent--W2oG2"
                              >{{ price_obj.display_credits }} Credits<svg
                                class="PriceCard-module--PopoverTriggerIcon--xAjKX"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <path
                                  d="M7.9987 14.6663C11.6806 14.6663 14.6654 11.6816 14.6654 7.99967C14.6654 4.31778 11.6806 1.33301 7.9987 1.33301C4.3168 1.33301 1.33203 4.31778 1.33203 7.99967C1.33203 11.6816 4.3168 14.6663 7.9987 14.6663Z"
                                  stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                ></path>
                                <path
                                  d="M6.05859 6.00038C6.21533 5.55483 6.5247 5.17912 6.9319 4.9398C7.3391 4.70049 7.81786 4.61301 8.28338 4.69285C8.7489 4.7727 9.17114 5.01473 9.47531 5.37607C9.77949 5.7374 9.94596 6.19473 9.94526 6.66705C9.94526 8.00038 7.94526 8.66705 7.94526 8.66705"
                                  stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                ></path>
                                <path
                                  d="M8 11.333H8.00667"
                                  stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                ></path></svg></span
                          ></span>
                        </div>
                        <div class="PriceCard-module--PriceComment--Z3ZM0">
                          to process {{ price_obj.display_credits }} images
                        </div>
                      </div>
                      <div>
                        <div class="PriceCard-module--PriceWrapper--IV2yk">
                          <span class="PriceCard-module--Price--QGYLI">₹{{price_obj.price}}</span
                          >
                        </div>
                        <div class="PriceCard-module--Comment--Fj0Dy">
                          Billed annually. <br />
                          Check price of yearly package
                        </div>
                        <a href="{{ price_obj.get_checkout_url }}">
                          <button
                          class="Button-module--Button--iWqHF Button-module--primary--Xt+ZK Button-module--large--NGxL6 Button-module--primary_light--RekQb PriceCard-module--ButtonSubmit--u2G56 Button-module--Block--jR88O"
                        >
                          <div class="Button-module--ButtonContent--YYh9w">
                            Subscribe
                          </div>
                        </button>
                        </a>
                      </div>
                    </div>
                    <button
                      class="Button-module--Button--iWqHF Button-module--ghost--tqlHF PriceCard-module--FeaturesToggler--E42d6"
                    >
                      <div class="Button-module--ButtonContent--YYh9w">
                        <svg
                          class="PriceCard-module--FeaturesTogglerIcon--cQkHi"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                        >
                          <path d="M0 0h24v24H0V0z" fill="none"></path>
                          <path
                            d="M11.29 8.71L6.7 13.3c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 10.83l3.88 3.88c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L12.7 8.71c-.38-.39-1.02-.39-1.41 0z"
                          ></path></svg
                        >See features
                      </div>
                    </button>
                  </div>
                  <div class="PriceCard-module--Features--Dsbrk">
                    <ul class="Pricing-module--PriceCardFeatures--nM0LJ">
                      <li class="Pricing-module--PriceCardFeature--3wv-9">
                        <span
                          ><span class="Pricing-module--FeatureContent--fSZt9"
                            >Unused credits roll over<svg
                              class="Pricing-module--FeatureIcon--X71ha"
                              viewBox="0 0 16 16"
                              fill="none"
                            >
                              <path
                                d="M7.9987 14.6663C11.6806 14.6663 14.6654 11.6816 14.6654 7.99967C14.6654 4.31778 11.6806 1.33301 7.9987 1.33301C4.3168 1.33301 1.33203 4.31778 1.33203 7.99967C1.33203 11.6816 4.3168 14.6663 7.9987 14.6663Z"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              ></path>
                              <path
                                d="M6.05859 6.00038C6.21533 5.55483 6.5247 5.17912 6.9319 4.9398C7.3391 4.70049 7.81786 4.61301 8.28338 4.69285C8.7489 4.7727 9.17114 5.01473 9.47531 5.37607C9.77949 5.7374 9.94596 6.19473 9.94526 6.66705C9.94526 8.00038 7.94526 8.66705 7.94526 8.66705"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              ></path>
                              <path
                                d="M8 11.333H8.00667"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              ></path></svg></span
                        ></span>
                      </li>
                      <li class="Pricing-module--PriceCardFeature--3wv-9">
                        <span
                          ><span class="Pricing-module--FeatureContent--fSZt9"
                            >Save up to 600 unused credits<svg
                              class="Pricing-module--FeatureIcon--X71ha"
                              viewBox="0 0 16 16"
                              fill="none"
                            >
                              <path
                                d="M7.9987 14.6663C11.6806 14.6663 14.6654 11.6816 14.6654 7.99967C14.6654 4.31778 11.6806 1.33301 7.9987 1.33301C4.3168 1.33301 1.33203 4.31778 1.33203 7.99967C1.33203 11.6816 4.3168 14.6663 7.9987 14.6663Z"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              ></path>
                              <path
                                d="M6.05859 6.00038C6.21533 5.55483 6.5247 5.17912 6.9319 4.9398C7.3391 4.70049 7.81786 4.61301 8.28338 4.69285C8.7489 4.7727 9.17114 5.01473 9.47531 5.37607C9.77949 5.7374 9.94596 6.19473 9.94526 6.66705C9.94526 8.00038 7.94526 8.66705 7.94526 8.66705"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              ></path>
                              <path
                                d="M8 11.333H8.00667"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              ></path></svg></span
                        ></span>
                      </li>
                      <li class="Pricing-module--PriceCardFeature--3wv-9">
                        No watermark
                      </li>
                      <li class="Pricing-module--PriceCardFeature--3wv-9">
                        Upscale up to 256 megapixels
                      </li>
                      <li class="Pricing-module--PriceCardFeature--3wv-9">
                        Unlimited storage for 6 months
                      </li>
                      <li class="Pricing-module--PriceCardFeature--3wv-9">
                        Priority enhancement
                      </li>
                      <li class="Pricing-module--PriceCardFeature--3wv-9">
                        Chat support
                      </li>
                      <li class="Pricing-module--PriceCardFeature--3wv-9">
                        Early access to new features
                      </li>
                      <li class="Pricing-module--PriceCardFeature--3wv-9">
                        Downgrade, Upgrade or Cancel anytime
                      </li>
                    </ul>
                  </div>
                </div>
              {% endfor %}
              <!-- <div
                class="Pricing-module--PriceCard--TEO97 PriceCard-module--Card--jI5Zk"
              >
                <div class="PriceCard-module--Description--Ae7-h">
                  <div class="PriceCard-module--DescriptionContent--0drnp">
                    <div>
                      <div class="PriceCard-module--Title--1VF9m">300</div>
                      <div class="PriceCard-module--Subtitle--cIGU8">
                        <span
                          ><span
                            class="PriceCard-module--PopoverTriggerContent--W2oG2"
                            >Credits<svg
                              class="PriceCard-module--PopoverTriggerIcon--xAjKX"
                              viewBox="0 0 16 16"
                              fill="none"
                            >
                              <path
                                d="M7.9987 14.6663C11.6806 14.6663 14.6654 11.6816 14.6654 7.99967C14.6654 4.31778 11.6806 1.33301 7.9987 1.33301C4.3168 1.33301 1.33203 4.31778 1.33203 7.99967C1.33203 11.6816 4.3168 14.6663 7.9987 14.6663Z"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              ></path>
                              <path
                                d="M6.05859 6.00038C6.21533 5.55483 6.5247 5.17912 6.9319 4.9398C7.3391 4.70049 7.81786 4.61301 8.28338 4.69285C8.7489 4.7727 9.17114 5.01473 9.47531 5.37607C9.77949 5.7374 9.94596 6.19473 9.94526 6.66705C9.94526 8.00038 7.94526 8.66705 7.94526 8.66705"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              ></path>
                              <path
                                d="M8 11.333H8.00667"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              ></path></svg></span
                        ></span>
                      </div>
                      <div class="PriceCard-module--PriceComment--Z3ZM0">
                        to process images each month
                      </div>
                    </div>
                    <div>
                      <div class="PriceCard-module--PriceWrapper--IV2yk">
                        <span class="PriceCard-module--Price--QGYLI">$24</span
                        >/month
                      </div>
                      <div class="PriceCard-module--Comment--Fj0Dy">
                        Billed annually. <br />
                        $32/month if billed monthly
                      </div>
                      <button
                        class="Button-module--Button--iWqHF Button-module--primary--Xt+ZK Button-module--large--NGxL6 Button-module--primary_light--RekQb PriceCard-module--ButtonSubmit--u2G56 Button-module--Block--jR88O"
                      >
                        <div class="Button-module--ButtonContent--YYh9w">
                          Subscribe
                        </div>
                      </button>
                    </div>
                  </div>
                  <button
                    class="Button-module--Button--iWqHF Button-module--ghost--tqlHF PriceCard-module--FeaturesToggler--E42d6"
                  >
                    <div class="Button-module--ButtonContent--YYh9w">
                      <svg
                        class="PriceCard-module--FeaturesTogglerIcon--cQkHi"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                      >
                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                        <path
                          d="M11.29 8.71L6.7 13.3c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 10.83l3.88 3.88c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L12.7 8.71c-.38-.39-1.02-.39-1.41 0z"
                        ></path></svg
                      >See features
                    </div>
                  </button>
                </div>
                <div class="PriceCard-module--Features--Dsbrk">
                  <ul class="Pricing-module--PriceCardFeatures--nM0LJ">
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      <span
                        ><span class="Pricing-module--FeatureContent--fSZt9"
                          >Unused credits roll over<svg
                            class="Pricing-module--FeatureIcon--X71ha"
                            viewBox="0 0 16 16"
                            fill="none"
                          >
                            <path
                              d="M7.9987 14.6663C11.6806 14.6663 14.6654 11.6816 14.6654 7.99967C14.6654 4.31778 11.6806 1.33301 7.9987 1.33301C4.3168 1.33301 1.33203 4.31778 1.33203 7.99967C1.33203 11.6816 4.3168 14.6663 7.9987 14.6663Z"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                            <path
                              d="M6.05859 6.00038C6.21533 5.55483 6.5247 5.17912 6.9319 4.9398C7.3391 4.70049 7.81786 4.61301 8.28338 4.69285C8.7489 4.7727 9.17114 5.01473 9.47531 5.37607C9.77949 5.7374 9.94596 6.19473 9.94526 6.66705C9.94526 8.00038 7.94526 8.66705 7.94526 8.66705"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                            <path
                              d="M8 11.333H8.00667"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path></svg></span
                      ></span>
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      <span
                        ><span class="Pricing-module--FeatureContent--fSZt9"
                          >Save up to 1800 unused credits<svg
                            class="Pricing-module--FeatureIcon--X71ha"
                            viewBox="0 0 16 16"
                            fill="none"
                          >
                            <path
                              d="M7.9987 14.6663C11.6806 14.6663 14.6654 11.6816 14.6654 7.99967C14.6654 4.31778 11.6806 1.33301 7.9987 1.33301C4.3168 1.33301 1.33203 4.31778 1.33203 7.99967C1.33203 11.6816 4.3168 14.6663 7.9987 14.6663Z"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                            <path
                              d="M6.05859 6.00038C6.21533 5.55483 6.5247 5.17912 6.9319 4.9398C7.3391 4.70049 7.81786 4.61301 8.28338 4.69285C8.7489 4.7727 9.17114 5.01473 9.47531 5.37607C9.77949 5.7374 9.94596 6.19473 9.94526 6.66705C9.94526 8.00038 7.94526 8.66705 7.94526 8.66705"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                            <path
                              d="M8 11.333H8.00667"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path></svg></span
                      ></span>
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      No watermark
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      Upscale up to 256 megapixels
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      Unlimited storage for 6 months
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      Priority enhancement
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      Chat support
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      Early access to new features
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      Downgrade, Upgrade or Cancel anytime
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="Pricing-module--PriceCard--TEO97 PriceCard-module--Card--jI5Zk"
              >
                <div class="PriceCard-module--Description--Ae7-h">
                  <div class="PriceCard-module--DescriptionContent--0drnp">
                    <div>
                      <div class="PriceCard-module--Title--1VF9m">500</div>
                      <div class="PriceCard-module--Subtitle--cIGU8">
                        <span
                          ><span
                            class="PriceCard-module--PopoverTriggerContent--W2oG2"
                            >Credits<svg
                              class="PriceCard-module--PopoverTriggerIcon--xAjKX"
                              viewBox="0 0 16 16"
                              fill="none"
                            >
                              <path
                                d="M7.9987 14.6663C11.6806 14.6663 14.6654 11.6816 14.6654 7.99967C14.6654 4.31778 11.6806 1.33301 7.9987 1.33301C4.3168 1.33301 1.33203 4.31778 1.33203 7.99967C1.33203 11.6816 4.3168 14.6663 7.9987 14.6663Z"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              ></path>
                              <path
                                d="M6.05859 6.00038C6.21533 5.55483 6.5247 5.17912 6.9319 4.9398C7.3391 4.70049 7.81786 4.61301 8.28338 4.69285C8.7489 4.7727 9.17114 5.01473 9.47531 5.37607C9.77949 5.7374 9.94596 6.19473 9.94526 6.66705C9.94526 8.00038 7.94526 8.66705 7.94526 8.66705"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              ></path>
                              <path
                                d="M8 11.333H8.00667"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              ></path></svg></span
                        ></span>
                      </div>
                      <div class="PriceCard-module--PriceComment--Z3ZM0">
                        to process images each month
                      </div>
                    </div>
                    <div>
                      <div class="PriceCard-module--PriceWrapper--IV2yk">
                        <span class="PriceCard-module--Price--QGYLI">$34</span
                        >/month
                      </div>
                      <div class="PriceCard-module--Comment--Fj0Dy">
                        Billed annually. <br />
                        $45/month if billed monthly
                      </div>
                      <button
                        class="Button-module--Button--iWqHF Button-module--primary--Xt+ZK Button-module--large--NGxL6 Button-module--primary_light--RekQb PriceCard-module--ButtonSubmit--u2G56 Button-module--Block--jR88O"
                      >
                        <div class="Button-module--ButtonContent--YYh9w">
                          Subscribe
                        </div>
                      </button>
                    </div>
                  </div>
                  <button
                    class="Button-module--Button--iWqHF Button-module--ghost--tqlHF PriceCard-module--FeaturesToggler--E42d6"
                  >
                    <div class="Button-module--ButtonContent--YYh9w">
                      <svg
                        class="PriceCard-module--FeaturesTogglerIcon--cQkHi"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                      >
                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                        <path
                          d="M11.29 8.71L6.7 13.3c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 10.83l3.88 3.88c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L12.7 8.71c-.38-.39-1.02-.39-1.41 0z"
                        ></path></svg
                      >See features
                    </div>
                  </button>
                </div>
                <div class="PriceCard-module--Features--Dsbrk">
                  <ul class="Pricing-module--PriceCardFeatures--nM0LJ">
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      <span
                        ><span class="Pricing-module--FeatureContent--fSZt9"
                          >Unused credits roll over<svg
                            class="Pricing-module--FeatureIcon--X71ha"
                            viewBox="0 0 16 16"
                            fill="none"
                          >
                            <path
                              d="M7.9987 14.6663C11.6806 14.6663 14.6654 11.6816 14.6654 7.99967C14.6654 4.31778 11.6806 1.33301 7.9987 1.33301C4.3168 1.33301 1.33203 4.31778 1.33203 7.99967C1.33203 11.6816 4.3168 14.6663 7.9987 14.6663Z"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                            <path
                              d="M6.05859 6.00038C6.21533 5.55483 6.5247 5.17912 6.9319 4.9398C7.3391 4.70049 7.81786 4.61301 8.28338 4.69285C8.7489 4.7727 9.17114 5.01473 9.47531 5.37607C9.77949 5.7374 9.94596 6.19473 9.94526 6.66705C9.94526 8.00038 7.94526 8.66705 7.94526 8.66705"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                            <path
                              d="M8 11.333H8.00667"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path></svg></span
                      ></span>
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      <span
                        ><span class="Pricing-module--FeatureContent--fSZt9"
                          >Save up to 3000 unused credits<svg
                            class="Pricing-module--FeatureIcon--X71ha"
                            viewBox="0 0 16 16"
                            fill="none"
                          >
                            <path
                              d="M7.9987 14.6663C11.6806 14.6663 14.6654 11.6816 14.6654 7.99967C14.6654 4.31778 11.6806 1.33301 7.9987 1.33301C4.3168 1.33301 1.33203 4.31778 1.33203 7.99967C1.33203 11.6816 4.3168 14.6663 7.9987 14.6663Z"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                            <path
                              d="M6.05859 6.00038C6.21533 5.55483 6.5247 5.17912 6.9319 4.9398C7.3391 4.70049 7.81786 4.61301 8.28338 4.69285C8.7489 4.7727 9.17114 5.01473 9.47531 5.37607C9.77949 5.7374 9.94596 6.19473 9.94526 6.66705C9.94526 8.00038 7.94526 8.66705 7.94526 8.66705"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                            <path
                              d="M8 11.333H8.00667"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path></svg></span
                      ></span>
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      No watermark
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      Upscale up to 256 megapixels
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      Unlimited storage for 6 months
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      Priority enhancement
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      Chat support
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      Early access to new features
                    </li>
                    <li class="Pricing-module--PriceCardFeature--3wv-9">
                      Downgrade, Upgrade or Cancel anytime
                    </li>
                  </ul>
                </div>
              </div> -->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
